@import "tailwindcss";

.ql-editor.ql-blank::before {
  color: #d2d3d7; 
  font-weight: 600; 
  font-style: normal; 
  font-size: 1rem;
}

/* .dark div{
  background-color: black;
}

.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark span,
.dark label,
.dark input,
.dark select {
  color: white;
}

.dark option,span{
  color: black;
} */

