@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

.ql-editor.ql-blank::before {
  color: #d2d3d7; 
  font-weight: 600; 
  font-style: normal; 
  font-size: 1rem;
}

/* .dark div{
  background-color: black;
}

.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark span,
.dark label,
.dark input,
.dark select {
  color: white;
}

.dark option,span{
  color: black;
} */
